<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add product</title>
    <link rel="stylesheet" href="/express_/public/css/style.css">
    <link rel="stylesheet" href="/express_/public/css/shop.css">
</head>
<body>
    <header class="header">
        <nav class="header-nav">
            <ul class="header-nav-ul">
                <li class="header-nav-ul-li"><a href="/">Shop</a></li>
                <li class="header-nav-ul-li"><a href="/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-container">
    <h2>all products</h2>
    <div class="product-container">
        <div class="product-image">
         <img src="download.jpg" alt="image">
        </div>
        <div class="product-name">
            Name
        </div>
        <div class="product-info">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta         
        </div>
        <span> Rs 8</span>
        <button type="">BUY</button>
    </div>
    </main>
</body>
</html>